<Files config.txt>
order deny,allow
deny from all
</Files>
<Files config.server.txt>
order deny,allow
deny from all
</Files>
<Files config.txt>
order deny,allow
deny from all
</Files>
<Files production.py>
order deny,allow
deny from all
</Files>
<Files .*>
order deny,allow
deny from all
</Files>
